@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Neue Montreal', Helvetica, Arial, sans-serif;
}

/* Bold */
@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/neue-montreal/NeueMontreal-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* Bold Italic */
@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/neue-montreal/NeueMontreal-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

/* Italic */
@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/neue-montreal/NeueMontreal-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/neue-montreal/NeueMontreal-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

/* Light Italic */
@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/neue-montreal/NeueMontreal-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/neue-montreal/NeueMontreal-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

/* Medium Italic */
@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/neue-montreal/NeueMontreal-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

/* Regular */
@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/neue-montreal/NeueMontreal-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}